<div class="card-wrapper">
  <div class="card-header">
    <p>
      Main Course
    </p>
  </div>
  <div class="card-body">
    <div class="item-wrapper">
      <div class="display-flex">
        <div class="item-type display-block">
          <div class="circle"></div>
        </div>
        <div class="display-block">
          Ghee Rice
        </div>
      </div>
      <p>
        Rs 34
      </p>
    </div>
    <div class="display-block">
      <button class="add-btn">
        Add
      </button>
    </div>

  </div>
  <div class="card-body">
    <div class="item-wrapper">
      <div class="display-flex">
        <div class="item-type display-block">
          <div class="circle"></div>
        </div>
        <div class="display-block">
          Ghee Rice
        </div>
      </div>
      <p>
        Rs 34
      </p>
    </div>
    <div class="display-block">
      <button class="add-btn">
        Add
      </button>
    </div>

  </div>
  <div class="card-body">
    <div class="item-wrapper">
      <div class="display-flex">
        <div class="item-type display-block">
          <div class="circle"></div>
        </div>
        <div class="display-block">
          Ghee Rice
        </div>
      </div>
      <p>
        Rs 34
      </p>
    </div>
    <div class="display-block">
      <button class="add-btn">
        Add
      </button>
    </div>

  </div>
</div>
<div class="card-wrapper">
    <div class="card-header">
      <p>
        Main Course
      </p>
    </div>
    <div class="card-body">
      <div class="item-wrapper">
        <div class="display-flex">
          <div class="item-type display-block">
            <div class="circle"></div>
          </div>
          <div class="display-block">
            Ghee Rice
          </div>
        </div>
        <p>
          Rs 34
        </p>
      </div>
      <div class="display-block">
        <button class="add-btn">
          Add
        </button>
      </div>

    </div>
    <div class="card-body">
      <div class="item-wrapper">
        <div class="display-flex">
          <div class="item-type display-block">
            <div class="circle"></div>
          </div>
          <div class="display-block">
            Ghee Rice
          </div>
        </div>
        <p>
          Rs 34
        </p>
      </div>
      <div class="display-block">
        <button class="add-btn">
          Add
        </button>
      </div>

    </div>
    <div class="card-body">
      <div class="item-wrapper">
        <div class="display-flex">
          <div class="item-type display-block">
            <div class="circle"></div>
          </div>
          <div class="display-block">
            Ghee Rice
          </div>
        </div>
        <p>
          Rs 34
        </p>
      </div>
      <div class="display-block">
        <button class="add-btn">
          Add
        </button>
      </div>

    </div>
  </div>
