.user-info-form-wrapper{
  .form-container{
    position: relative;
    top:22%;
  }
  .user-info-heading-wrpr{
    width: 100%;
    font-size: 32px;
    position: relative;
    top: 3%;
  }
  .next-btn{
    float: right;
    margin:0 6%;
  }
}
