<div class="com-wrapper verification-form-wrapper">
  <div class="com-body verification-body">
    <div class="ver-txt-wrpr">
      <p class="ver-header">Verification code</p>
      <p class="ver-msg-txt">Please type the verification code sent to +91 8882345567</p>
    </div>
    <div class="form-wrpr">
      <form #verificationForm="ngForm">
        <div class="ver-form-group">
          <mat-form-field class="col-4-input">
            <input matInput>
          </mat-form-field>
          <mat-form-field class="col-4-input">
            <input matInput>
          </mat-form-field>
          <mat-form-field class="col-4-input">
            <input matInput>
          </mat-form-field>
          <mat-form-field class="col-4-input">
            <input matInput>
          </mat-form-field>
        </div>
        <div class="link-wrpr">
          <a class="change-link">
            Change Number
          </a>
          <a class="resend-otp-link">
            Resend OTP
          </a>
        </div>
        <div class="clear"></div>
        <button mat-raised-button color="primary" class="login-btn">Verify</button>
      </form>
    </div>
  </div>

</div>
