<div class="item-list-main-wrapper">
  <div class="item-list-header-wrpr">
    <app-header isBackBtn="false" title="Tricon Canteen"></app-header>
    <div class="time-wrpr">
      <span>Lunch time 12:30 AM - 3:00 PM</span>
      <div class="food-type-wrpr">
          <mat-slide-toggle color="primary" class="veg">Veg only</mat-slide-toggle>
      </div>
    </div>
  </div>
  <div class="item-list-body-wrpr">
    <app-item-card></app-item-card>
  </div>
  <div class="item-list-footer-wrpr">
      <app-footer></app-footer>
  </div>
</div>
