.link-acc-wrapper{
  .link-btn-wrapper{
    position: relative;
    width: 100%;
    padding: 6%;
    top: 40%
  }
  .link-btn{
    width:100%;
  }
  .skip-btn-wrapper{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8%;
    padding-right: 10%;
    text-align: right;
  }
}
